html {
	border-top: 12px solid #fff200;
}
body{ 
	margin: 0px;
	background: #fff;
	border-top: 2px solid #fffcc7;
	font-family: 'Open Sans', sans-serif;
}
header{
	padding:0px 0 0px 0;
}
.slider {
	height:25%;	
}
.slider  img{
	width: 100%;
}
.clearfix:after{
	content: '';
	clear: both;
	display: block;
}
.center {
	width: 960px;
	margin: auto;
}

.owl-carousel, .owl-carousel .owl-item {
    -webkit-tap-highlight-color: transparent;
    position: relative;
}
.owl-carousel .owl-nav button:before{
	content: '';
	width:10px;
	height:10px;
	border-top:2px solid black;
	border-left:2px solid black;
	position: absolute;
	top:19px;
	left:21px;
	transform: rotate(315deg);
}
.owl-carousel .owl-nav .owl-next{
	left:404px;
	transform: rotate(180deg);
}
.owl-carousel .owl-nav button:hover:before{
	border-top:2px solid white;
	border-left:2px solid white;
}
.owl-carousel .owl-prev{
	background:#fff200!important;
}
.owl-carousel .owl-next{
	background:#fff200!important;
}
.owl-nav button:hover{
	background:rgba(255,242,0,.6)!important;
}



nav  .bar .logo-nav {
    position: absolute;
    z-index: 1;
    text-align: center;
    width: 320px;
    height: 95px;
}
nav .center {
	font-size: 15px;
	font-weight: bold;
	height: 50px;
	position: relative;
}
nav .logo img{
	margin: 25px 0 0 5px;
}
nav .logo{
	width:320px;
	height: 119px;
	background: rgba(186,0,119,.7);
	position: absolute;
	top: -67px;
	left: 0;
	padding-bottom: 17px;
}
nav{
	background:#cf4c9a;
	width: 960px;
	margin: auto;
	padding:0;
}
nav ul{
	margin:0;
	padding:0;
	float:right;
}
nav li{
	float:left;
	list-style: none;
}
nav .center a{
	float: left;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 16px;
	text-decoration: none;
	height:50px;
	line-height: 50px;
	margin-right: 17px;
}
.home-page li .home, .import-page li .import, .export-page li .export, .write-page li .write {
	color: #fff200;
}

/*Content ..........................................................*/

article{
	float: left;
	width: 600px;
	margin-top: 30px;
}
main h1 {
	margin: 0 0 0 0;
    padding: 0 0 0 0;
    color: #ba006f;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    border-bottom: 2px solid #ddd;
    padding-bottom: 25px;
}
.center strong{
	display: block;
    padding: 15px 0 0 0;
	color: #737373;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: -1.5px;
    line-height: 110%;	
}
.leftcol img{
	float: left;
	padding-top: 31px;
}
.leftcol div{
	padding-left: 275px;
	margin: 0;
}
section div{
	padding-top: 15px;
}
section div p{
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	line-height: 25px;
	text-align: left;
	margin: 0;
	width: 328px;
	margin-top: 16px;
}
.leftcol div b{
	color: #ce4c99;
}
/*-----------------left Column-----------------*/


/*-----------------Right Column-----------------*/
aside{
    float: right;
    width: 320px;
    margin-top: 30px;
}
.rightcol {
    float: right;
    width: 320px;
}
.rightcol div{
	display: block;
}
.rightcol h2 {
    padding: 0 25px 0 25px;
    color: #515151;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: -1.5px;
    line-height: 110%;
    text-align: left;
}
.contact {
	background-color: #ededed;
	padding-top: 6px;
	padding-bottom: 15px;
	font-size: 14px;
}
.contact table {
	border-collapse: collapse;
	width: 100%;
}
.contact table a {
	color: #474747;
}
.contact td a{
	text-decoration: none;
}
.contact table a:hover {
	text-decoration: underline;
}
.contact table tr td, .contact th {
	text-align: left;
	padding: 10px 25px 10px 10px;
	vertical-align: top;
	border-top: 1px solid #dcdcdc;
	font-weight: normal;
}
.contact th {
	background-color: #f6f6f6;
}
.contact table tr td:first-child,
.contact table tr th:first-child {
	padding: 10px 0 10px 25px;
	color: #ba006f;
	text-decoration: underline;
	font-weight: 700;
}
.contact table tr:first-child td:first-child {
	border: none;
	padding-top: 0;
	font-weight: normal;
	text-decoration: none;
	color: #474747;
}
.contact table tr:first-child td:first-child ins {
	font-weight: 700;
	color: #ba006f;
}
aside .feedback-btn {
	background: url(../image/feedback-inquiry-order.png);
	width: 320px;
	height: 60px;
	text-indent: 25px;
	margin-top: 40px;
	display: block;
}

/*----------------------Footer----------------------*/

nav .menubar-footer .bar .center {
	font-size: 15px;
	font-weight: bold;
	height: 50px;
	position: relative;
}
nav .menubar-footer .logo img{
	margin: -22px 0 0 10px;
}
nav .menubar-footer .logo{
	width:320px;
	height: 50px;
	background: #FFF533;
	position: absolute;
	top: 50px;
	left: 0;
	padding-bottom: 17px;
}
nav .menubar-footer{
	background: #FFF533;
	width: 960px;
	margin: auto;
	padding:0;
}
nav .menubar-footer ul{
	margin:0;
	padding:0 0 0 25px;
	float:left;
}
nav .menubar-footer li{
	float:left;
	list-style: none;
}
nav .menubar-footer a{
	float: left;
	color: #000;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 16px;
	text-decoration: none;
	height:50px;
	line-height: 50px;
	margin-right: 25px;
}
nav .menubar-footer a:hover{
	color:#ce4c99;
}
.menubar-footer div{
	right: 0;
    top: 0;
    background-color: #fff200;
}
nav .menubar-footer{
	margin-top: 40px;
}
nav .menubar-footer .home{
	color: #ba006f;
}

/*----------------------Footer Menu----------------------*/



/*<!-- Footer start -->*/

.footer {
	background-color: #f2f2f2;
	position: relative;
	padding-bottom: 35px;
}
.footer .center > div {
	background-color: #fff;
	padding: 35px;
	display: inline-block;
	font-size: 12px;
	width: 570px;
}
.facebook {
	background-color: #eceff5;
	display: inline-block !important;
	display: inline-block;
}
.facebook a {
	display: inline-block;
	width: 33px;
	height: 33px;
	vertical-align: middle;
	margin-right: 4px;
	background: #45619d url(../image/icon-facebook.png) center center no-repeat;
}
.facebook iframe {
	display: inline-block;
	vertical-align: middle;
}
.designby {
	float: right;
	text-align: right;
}

.designby a {
	display: inline-block;
}

.designby span {
	display: inline-block;
	margin-right: 10px;
}
.copyright {
	float: right;
	margin-left: 30px;
}

/*<!-- Footer start end -->*/



/*------------------include.php----------------------------*/
.twocol div {
    width: 285px;
    float: left;
}
.twocol div:first-child {
    margin-right: 30px;
}
.twocol h3{
	margin: 0;
	font-size: 38px;
    color: #8d8d8d;
    letter-spacing: -2px;
    font-weight: 600;
}
.twocol p{
	color: #8d8d8d;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
    text-align: left;
    margin-top: 15px;
	margin: 0;

}
.twocol p b{
	color: #c5478a;
    font-weight: 600;
}
content{
	margin: 0;
	padding: 0;
}
h4 {
	margin: 0;
	padding: 0;
    font-size: 28px;
    color: #8d8d8d;
    letter-spacing: -1px;
    line-height: 110%;
    font-weight: 600;
}
.twocol p + h4 {
    margin-top: 20px;
}
.twocol p {
    line-height: 160%;
    margin-top: 15px;
}
article h2 {
    margin: 15px 0 18px 0;
    letter-spacing: -1.5px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 25px;
}
ins {
    text-decoration: underline;
}
article h2 {
    color: #ba006f;
    font-size: 20px;
    font-weight: 600;
}
h2 {
    color: #737373;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: -1.5px;
    line-height: 110%;
}

/*------------------include.php end----------------------------*/




/*---------------------Form------------------------------*/
form {
    display: block;
    margin-top: 0em;
}
.inquiry-form > div {
	margin-top: 15px;
	border-top: 1px solid #ccc;
	padding-top: 15px;
}
.inquiry-form div:first-child {
    border: none;
    padding: 0;
    	margin-right: 15px;
}
.inquiry-form > div >div{
	display: inline-block;
	vertical-align: top;
}
.inquiry-form input, .inquiry-form textarea {
	font-size: 13px;
	height: 26px;
	line-height: 26px;
	padding: 0 7px;
	border: 1px solid #999;
}
.inquiry-form input[type=submit] {
	background-color: #000;
	color: #fff;
	border: 1px solid #000;
}

.inquiry-form input[type=submit]:focus {
	background-color: #999;
	color: #fff;
	border: 1px solid #999;
}
.inquiry-form input:focus {
	border: 1px solid #fff200;
	box-shadow: 1px 1px 2px #eee;
}
.inquiry-form select {
	width: 200px;
	font-size: 13px;
	height: auto;
	padding: 4px;
}
.inquiry-form textarea {
	height: auto;
	width: 583px;
}

/*slider --------------------------------*/

header .owl-nav{
	position: relative;
	width: 960px;
	background: #000;
	margin: auto;	
}
.owl-nav button{
	position: absolute;
    width: 50px;
    height: 50px;
	padding-top: 10px;
	left: 337px;
	bottom: 17px;
}
header .owl-nav span {
	display: none;
}
.owl-stage-outer{
	height: 250px;
	overflow: hidden;
}